@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&family=Poppins:ital,wght@0,400;1,500&display=swap');
:root{
    --primary-color:rgb(60, 60, 224);
}
body{
    margin: o;
    background: rgb(96, 96, 221);
}
.navbar{
    padding: 1em;
    background: white;
    .logo{
        color: rgb(44, 14, 14);
        font-weight: bold;
        text-decoration: none;
        font-size: 1.2em;
        span{
            color: var(--primary-color);
        }
    }    
    nav{
        display: none;
    }
    .container{
        display: flex;
    }
}
a{
    color: #444444;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
