*{
    margin: 0;
    padding: 0;
    border: 0;
}
.wrapper{
    height: 200px;
    width: 100%;
    text-align: center;
    margin: 20px;
    background-color: white;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.bars{
    text-align: center;
    margin: 20px;
    padding: 20px 10px;
}
.bars a{
    color: rgb(158, 45, 45);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bolder;
    margin: 20px;
    padding: 20px 10px;
}
.box1{
    height: 100%;
    width: 32%;
    float: left;
    border-radius: 54px;
    background: #3b838c;
    box-shadow: 26px -26px 52px #224c51, -26px 26px 52px #54bac7;
}
.box2{
    margin-left: 20px;
    float: left;
    height: 100%;
    width: 32%;
    border-radius: 54px;
    background: #3b838c;
    box-shadow: 26px -26px 52px #224c51, -26px 26px 52px #54bac7;
}
.box3{
    height: 100%;
    width: 32%;
    margin-right: 20px;
    float: right;
    border-radius: 54px;
    background: #3b838c;
    box-shadow: 26px -26px 52px #224c51, -26px 26px 52px #54bac7;
}